<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shenkong.bzzmaster">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BzzMaster"
        android:usesCleartextTraffic="true"
        tools:targetApi="n">

        <meta-data
            android:name="firm"
            android:value="${firm}" />

        <activity
            android:name=".ui.activity.start.StartPagerActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".broadcast.LogOutBroadCast">
            <intent-filter>
                <action android:name="logOut" />
            </intent-filter>
        </receiver>

        <receiver android:name="android.content.BroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.VIEW_DOWNLOADS" />
                <action android:name="bytes_so_far" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.shenkong.bzzmaster.common.utils.download.AppFileProvider"
            android:authorities="com.shenkong.bzzmaster.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!--登录界面-->
        <activity
            android:name=".ui.activity.login.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--主界面-->
        <activity
            android:name=".ui.activity.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--产品计划详情-->
        <activity
            android:name=".ui.activity.productinfo.ProductInfoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--USDT充值-->
        <activity
            android:name=".ui.activity.receive.ReceivePaymentActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--转账-->
        <activity
            android:name=".ui.activity.transfer.TransferActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--我的计划列表-->
        <activity
            android:name=".ui.activity.plan.PlanActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--订单列表-->
        <activity
            android:name=".ui.activity.orders.OrderActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--收支明细-->
        <activity
            android:name=".ui.activity.shouzhi.ShouZhiActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--联系我们-->
        <activity
            android:name=".ui.activity.contact.ContactActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--设置-->
        <activity
            android:name=".ui.activity.settings.SettingsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--订单提交-->
        <activity
            android:name=".ui.activity.submit.SubmitOrderActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--公告-->
        <activity
            android:name=".ui.activity.notice.NoticeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--显示网页的界面-->
        <activity
            android:name=".ui.activity.web.WebViewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
    </application>

</manifest>